In [32]:
#backward difference encoder
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np 
import seaborn as sns 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_squared_error as mse
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.model_selection import GridSearchCV, KFold, train_test_split
from yellowbrick.regressor import residuals_plot, prediction_error
from fast_ml.model_development import train_valid_test_split
from hyperopt import STATUS_OK, Trials, fmin, hp, tpe
from tpot import TPOTRegressor
import category_encoders as ce
import time
from xgboost import XGBRegressor
import warnings
encoders = {

    'BackwardDifferenceEncoder': ce.backward_difference.BackwardDifferenceEncoder,
    'OneHotEncoder': ce.one_hot.OneHotEncoder,
    
}

# PREPROC

In [6]:
pop_df = pd.read_csv('./Participants_dataset/population.csv')
roads_df = pd.read_csv('./Participants_dataset/roads_network.csv')
train_df = pd.read_csv('./Participants_dataset/train.csv')

In [7]:
roads_numeric_features = roads_df.select_dtypes([np.number]).columns
roads_categorical_features = roads_df.select_dtypes(exclude=[np.number]).drop(['WKT','postcode'],axis=1).columns
# overwrite roads df for mem
roads_df = pd.concat([pd.get_dummies(roads_df[roads_categorical_features]),roads_df.drop(roads_categorical_features,axis=1)],axis=1)

In [8]:
roads_features_df = pd.concat([roads_df.drop('WKT',axis=1).groupby('postcode').agg(sum),roads_df.drop('WKT',axis=1).groupby('postcode').agg(np.nanmean)],axis=1)
roads_features_df.columns = [x+'_sum' if i >= 12 else x+'_mean' for i,x in enumerate(roads_features_df.columns)]

In [9]:
pop_df = pop_df.drop(['Rural Urban'],axis=1)

In [10]:
train_df = train_df.drop('country',axis=1)

In [11]:
train_roads_df = train_df.set_index('postcode').join(roads_features_df, how= 'left')

In [12]:
print((~train_roads_df.roadClassi_Motorway_mean.isnull()).sum())
inds_where_null = np.where(train_roads_df.roadFuncti_Motorway_sum.isnull())
inds_where_not_null = np.where(train_roads_df.roadFuncti_Motorway_sum.notnull())
# inds where null fill with post town

28752

In [13]:
roads_features_df['post_town'] = list(pd.Series(roads_features_df.index).str.upper().apply(lambda row_str: row_str.split(' ')[0]))

In [14]:
roads_town_df = roads_features_df.groupby('post_town').agg(np.nanmean)

In [16]:
train_df['post_town'] = train_df.postcode.apply(lambda row_str: row_str.split(' ')[0])
post_code_level_df = train_df.iloc[inds_where_null].set_index('post_town').join(roads_town_df, how='left')
post_town_level_df = train_roads_df.iloc[inds_where_not_null]
train_enriched_df = pd.concat([post_code_level_df, post_town_level_df],axis=0)

In [17]:
pop_df['post_town'] = pop_df.postcode.apply(lambda row_str: row_str.split(' ')[0])

In [18]:
train_enriched_df = train_enriched_df.join(pop_df.groupby('post_town').agg(np.nanmean),how='left')

In [20]:
train_enriched_df

,Accident_ID,Police_Force,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,...,primaryRou_sum,distance to the nearest point on rd_sum,Variable: All usual residents; measures: Value,Variable: Males; measures: Value,Variable: Females; measures: Value,Variable: Lives in a household; measures: Value,Variable: Lives in a communal establishment; measures: Value,Variable: Schoolchild or full-time student aged 4 and over at their non term-time address; measures: Value,Variable: Area (Hectares); measures: Value,Variable: Density (number of persons per hectare); measures: Value
AB10,1958,42,2,1,28/11/12,6,20:00,681,E10000016,3,...,1.0,1.812432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AB10,9041,35,2,2,11/06/12,5,13:51,502,E10000008,5,...,1.0,1.812432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AB10,9193,33,2,1,31/01/12,6,15:05,301,S12000036,6,...,1.0,1.812432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AB10,10729,42,3,1,10/11/12,3,16:25,661,E09000021,1,...,1.0,1.812432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AB10,11230,44,1,1,12/09/12,7,10:10,646,E08000035,3,...,1.0,1.812432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZE2 9JJ,201518,42,2,1,16/11/12,7,19:00,6,E09000015,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZE2 9JJ,300772,22,2,1,22/10/12,5,11:00,303,E09000028,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZE2 9JJ,332345,5,2,1,19/11/12,2,12:30,79,E09000033,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZE2 9JJ,491159,46,2,1,11/01/12,5,17:26,503,E06000052,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZE2 9JJ,517827,53,2,1,02/04/12,6,8:55,469,E06000047,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#train_enriched_df = train_enriched_df.drop(['post_town', 'postcode'],axis=1)
train_enriched_df = train_enriched_df.drop([ 'postcode'],axis=1)

In [22]:
mean_fill = train_enriched_df.iloc[:,-8:].columns
mode_fill = train_enriched_df.iloc[:,:-8].columns
from sklearn.impute import SimpleImputer

mode_imputer = SimpleImputer(strategy='most_frequent')
train_enriched_df[mode_fill] = mode_imputer.fit_transform(train_enriched_df[mode_fill])
mean_imputer = SimpleImputer(strategy='mean')
train_enriched_df[mean_fill] = mean_imputer.fit_transform(train_enriched_df[mean_fill])

In [23]:
train_enriched_df['month_of_year'] = pd.to_datetime(train_enriched_df.Date).dt.month
train_enriched_df['day_of_month'] = pd.to_datetime(train_enriched_df.Date).dt.day
train_enriched_df = train_enriched_df.drop(['Date'],axis=1)

In [24]:
train_enriched_df['Time'] = train_enriched_df.Time.apply(lambda row: row.replace(':',''))

In [25]:
cat_cols = []
num_cols = list(train_enriched_df.select_dtypes([np.number]).columns)
for col in train_enriched_df.select_dtypes(exclude=[np.number]).columns:
    if (~train_enriched_df[col].astype(str).apply(lambda row: row.replace('.','').replace('-','').isdigit())).sum() != 0:
        cat_cols.append(col)
    else:
        num_cols.append(col)

In [26]:
[num_cols.append(x) for x in cat_cols[-2:]]
cat_cols.pop(-1)
cat_cols.pop(-1)

'distance to the nearest point on rd_mean'

In [27]:
# target
grouped = train_enriched_df.groupby('Accident_ID')

Accident_Risk_Index = grouped.Number_of_Casualties.transform(lambda x: (x) / len(x))

# MODEL

In [28]:
import os 
current_dir = os.getcwd()
os.chdir('..')
from Utils.Metrics import regression as reg_metrics
os.chdir(current_dir)

In [29]:
results_df = pd.DataFrame(columns = ['model','rmse','r2','mape'])

In [ ]:
numeric_features = num_cols

categorical_features = cat_cols

max_levels = round(train_enriched_df.columns.shape[0]*0.4)
cats_many = []
cats_few = []
for ft in categorical_features:
    levels = train_enriched_df[ft].unique().shape[0]
    if levels > max_levels:
        cats_many.append(ft)
    else:
        cats_few.append(ft)
        

X = train_enriched_df
y = list(Accident_Risk_Index)

y = np.log(y)

X_train, X_test_tmp, y_train, y_test_tmp = train_test_split(X, y, test_size=0.3)
X_val, X_test, y_val, y_test = train_test_split(X_test_tmp, y_test_tmp, test_size=0.5)

del X_test_tmp, y_test_tmp

selected_model = XGBRegressor(tree_method = "gpu_hist",single_precision_histogram=True, gpu_id=0)


categorical_transformer_many_level = Pipeline(
    steps=[
        ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
        ('encoder', encoders['BackwardDifferenceEncoder']())
    ]
)    

categorical_transformer = Pipeline(
    steps=[
        ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
        ('encoder', encoders['OneHotEncoder']())
    ]
) 

numeric_transformer = Pipeline(
    steps=[
        ('imputer', SimpleImputer(strategy='mean')),
        ('scaler', StandardScaler())
    ]
)

preprocessor = ColumnTransformer(
    transformers=[
        ('numerical', numeric_transformer, numeric_features),
        ('categorical_many', categorical_transformer_many_level, cats_many),
        ('categorical', categorical_transformer, cats_few)
    ]
)

In [ ]:
preprocessor.fit(X_train, y_train)
X_train_prc = preprocessor.transform(X_train)
X_val_prc = preprocessor.transform(X_val)
X_test_prc = preprocessor.transform(X_test)
evalset = [(X_train_prc, y_train), (X_val_prc,y_val)]

In [ ]:
# BASIC TUNE PARAMS 

start_time=time.time()

# grid search
xgb_reg = XGBRegressor(tree_method = "gpu_hist",single_precision_histogram=True, gpu_id=0)

param_grid = {
        'max_depth': [6, 9, 12],
        'learning_rate': [0.03, 0.05, 0.07],
        'n_estimators':[1500, 1800, 2100],
                               }

kfold = KFold(n_splits=3, shuffle=True, random_state=10)
grid_search = GridSearchCV(xgb_reg, param_grid, scoring="neg_root_mean_squared_error", cv=kfold)
grid_result = grid_search.fit(X_train_prc, y_train, verbose=0)

# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_[ 'mean_test_score' ]
stds = grid_result.cv_results_[ 'std_test_score' ]
params = grid_result.cv_results_[ 'params' ]

print(time.time()-start_time)

In [ ]:
model = XGBRegressor(tree_method = "gpu_hist",single_precision_histogram=True, gpu_id=0, **grid_result.best_params_)
model.fit(X_train_prc,y_train)
y_pred = model.predict(X_test_prc)

In [ ]:
pred = np.exp(y_pred)
y_val_s = np.exp(y_test)
res_row_obj = reg_metrics.calc_results(pred, y_val_s,'GridSearchCV XGBReg')
row = res_row_obj.calc_results_row()
results_df = results_df.append(row,ignore_index=True)
results_df